.grid{
    display: flex;
    flex-wrap: wrap; 
    padding-top: 80px;
    padding-left: 10%;
    font-size: 21pt;
}
@media(max-width: 992px){
    .grid{
       
    }
}

/*  */
.grid__cell{
    width: 50%;
    margin-top: 45px;
}
@media(max-width: 992px){
    .grid__cell{

    }
}

/*  */